@tailwind base;
@tailwind components;
@tailwind utilities;



/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 8px; /* Scrollbar width */
  }
  
  ::-webkit-scrollbar-track {
    background: #1a1a2e; /* Track background */
    border-radius: 10px; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #ff8c00, #ff2e63); /* Thumb gradient color */
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #ff2e63, #ff8c00); /* Hover effect */
  }
  